SetEnv PHP_VER 5_4

Options +FollowSymlinks
RewriteEngine On

RewriteRule ^accueil$  index.php [L]
RewriteRule ^contact$  contact.php [L]
RewriteRule ^mentions-legales$  mentions-legales.php [L]
RewriteRule ^realisations$  realisations.php [L]
RewriteRule ^maison-famille-g$  project.php [L]
RewriteRule ^domaine-gaudras$  project.php [L]
RewriteRule ^cabourg$  project.php [L]
RewriteRule ^chapelle-penvins$  project.php [L]
RewriteRule ^chateau-suscinio$  project.php [L]
RewriteRule ^drone-de-clip$  project.php [L]
RewriteRule ^salon-mariage-mont-vernon$  project.php [L]
RewriteRule ^mont-vernon$  project.php [L]
RewriteRule ^le-rocher$  project.php [L]
RewriteRule ^roseraie-paul-croix$  project.php [L]
RewriteRule ^flashmob-justine-benoit  project.php [L]
RewriteRule ^luisant  project.php [L]
RewriteRule ^lac-remoray  project.php [L]
RewriteRule ^pencadenic  project.php [L]