SetEnv PHP_VER 5_4

Options +FollowSymlinks
RewriteEngine On

RewriteRule ^accueil$  index.php [L]
RewriteRule ^contact$  contact.php [L]
RewriteRule ^mentions-legales$  mentions-legales.php [L]
RewriteRule ^realisations$  realisations.php [L]
RewriteRule ^maison-famille-g$  maison-girard.php [L]
RewriteRule ^cabourg$  cabourg.php [L]
RewriteRule ^chapelle-penvins$  chapelle-penvins.php [L]
RewriteRule ^chateau-suscinio$  chateau-suscinio.php [L]
RewriteRule ^drone-de-clip$  drone-de-clip.php [L]
RewriteRule ^salon-mariage-mont-vernon$  salon-mariage-mont-vernon.php [L]
RewriteRule ^mont-vernon$  mont-vernon.php [L]
RewriteRule ^le-rocher$  le-rocher.php [L]
RewriteRule ^roseraie-paul-croix$  roseraie-paul-croix.php [L]